@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,400&family=Roboto+Mono:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  overflow-x: hidden;
}
.navbar {
  background-color: #fff !important;
}
.navbar-brand {
  font-size: 1.5rem !important;
  color: #565387 !important;
  font-weight: 800;
}
.navbar-brand:hover {
  border-bottom: 1px solid #565387 !important;
}
.navbar-nav a {
  font-size: 1.1rem !important;
  text-transform: capitalize;
}
.navbar-nav li:hover {
  border-bottom: 1px solid #565387 !important;
}
.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.navbar a:hover {
  color: #3498db !important;
}
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

/* Home Page CSS */

#header {
  width: 100%;
  height: auto;
  /* margin-top: 70px; */
}
#header h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 500;
  color: black;
}
#header .brand-name {
  color: #3498db;
}
#header h2 {
  color: #484848;
  font-size: 20px;
}
.button1 .get-btn {
  font-weight: 500px;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 10px 30px;
  transition: 0.5s;
  border-radius: 50px;
  text-decoration: none;
}
.header-img {
  text-align: center;
}
#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  height: 400px;
  width: 400px;
  background: none;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Services Css */
.card .card__img {
  height: auto;
  height: 200px;
}
.heightclass {
  min-height: 73vh;
}
